        <ul class="side">
            <li class="sidebar_item"><a href="{{ path('') }}">Tickets à traiter</a></li>
            <li class="sidebar_item"><a href="{{ path('') }}"></a>Tickets</li>
                <ul>
                    <li>
                        <li class="sidebar_subItem"><a href="{{ path('') }}"></a>Incidents</li>
                        <li class="sidebar_subItem"><a href="{{ path('') }}"></a>Demandes</li>
                        <li class="sidebar_subItem"><a href="{{ path('') }}"></a>Tout</li>
                    </li>
                </ul>
            <li class="sidebar_item"><a href="{{ path('') }}"></a>Messages urgents</li>
                <ul>
                    <li class="sidebar_subItem"><a href="{{ path('') }}"></a>Listes des messages urgents</li>
                    <li class="sidebar_subItem"><a href="{{ path('') }}"></a>Créer un nouveau message urgent</li>
                </ul>
        </ul>