<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <header>
        <ul>
            <li>
                <script>
                    const date = new Date();
                    const options = {weekday: "long", year: "numeric", month: "long", day: "2-digit"};
                    document.write(date.toLocaleDateString("fr-FR", options));
                </script>
            </li>
            <li>Les notifs</li>
            <li><a href="{{ path('user_edit' , {'id': app.user.id}) }}">{{app.user.firstname}} {{app.user.lastname}}</a></li>
        </ul>
        <a href="{{ path('accueil_front') }}">Acceuil Front</a>
        <a href="{{ path('accueil_back') }}">Accueil Back</a>
        <a href="{{ path('ticket_crud_new_demand') }}">Nouvelle demande</a>
        <a href="{{ path('ticket_crud_new_incident') }}">Nouvel incident</a>
        <a href="{{ path('ticket_crud_all_incidents') }}">Tout les incidents</a>
        <a href="{{ path('ticket_crud_my_tickets', {'search':'', 'beginDate':'', 'endDate' :'', 'status':'open', 'type' : 'demand'}) }}">Mes demandes</a>
        <a href="{{ path('ticket_crud_my_tickets', {'search':'', 'beginDate':'', 'endDate' :'', 'status':'open', 'type' : 'incident'}) }}">Mes incidents</a>
    </header>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
