{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1 class="title is-2">Ticket</h1>

    <table class="table table is-hoverable is-fullwidth">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ ticket.Name }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ ticket.Status.Name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ticket.Description }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ ticket.CreationDate ? ticket.CreationDate|date('Y-m-d') : '' }}</td>
            </tr>
            {% if ticket.IncidentDate %}
                <tr>
                <th>Date de l'incident</th>
                <td>{{ ticket.IncidentDate ? ticket.IncidentDate|date('Y-m-d') : '' }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('ticket_crud_index') }}" class="button is-link">Liste des tickets</a>

    {% if ticket.status.name == 'open' %}
        <a href="{{ path('ticket_crud_assign', {'id': ticket.id}) }}" class="button is-primary">M'assigner le ticket</a>
    {% endif %}
    
    {# <a href="{{ path('ticket_crud_edit', {'id': ticket.id}) }}">edit</a> #}

    {# {{ include('ticket_crud/_delete_form.html.twig') }} #}
{% endblock %}
